.navbar {
  background-color :  #81ece3;
  height: 100px;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
}

